<!DOCTYPE html>
<html>
  <head>
    <title>Quizone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <h1 class="col-10 offset-1">The Fabulous Four</h1>

  <body class="box-shadow col-8 offset-2">


    <%= yield %>
  </body>

</html>
