<!DOCTYPE html>
<html>
  <head>
    <title>Quiztwo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <h1 class="col-10 offset-1"></h1>

    <body class="box-shadow col-10 offset-1">
 
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
 <%= link_to 'Fabulous Dogs', root_path, class: 'navbar-brand' %>
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item">
        <%= link_to 'New Dog', new_dog_path, class: 'nav-link' %>
      </li>
    </ul>
    
  </div>
</nav>
 
  <%= yield %>
  </body>

</html>
